@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 14% 10%;
    --card: 60 56% 94%;
    --card-foreground: 20 14% 10%;
    --popover: 60 56% 94%;
    --popover-foreground: 20 14% 10%;
    --primary: 30 26% 64%;
    --primary-foreground: 30 26% 10%;
    --secondary: 30 26% 80%;
    --secondary-foreground: 30 26% 10%;
    --muted: 30 26% 85%;
    --muted-foreground: 30 26% 40%;
    --accent: 205 18% 46%;
    --accent-foreground: 205 18% 96%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 26% 80%;
    --input: 30 26% 85%;
    --ring: 30 26% 64%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 205 18% 15%;
    --foreground: 60 56% 91%;
    --card: 205 18% 20%;
    --card-foreground: 60 56% 91%;
    --popover: 205 18% 20%;
    --popover-foreground: 60 56% 91%;
    --primary: 30 26% 64%;
    --primary-foreground: 30 26% 10%;
    --secondary: 30 26% 25%;
    --secondary-foreground: 30 26% 90%;
    --muted: 205 18% 25%;
    --muted-foreground: 205 18% 60%;
    --accent: 205 18% 46%;
    --accent-foreground: 205 18% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 205 18% 25%;
    --input: 205 18% 25%;
    --ring: 30 26% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
