@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 84% 5%;
    --card: 210 40% 100%;
    --card-foreground: 222 84% 5%;
    --popover: 210 40% 100%;
    --popover-foreground: 222 84% 5%;
    --primary: 48 96% 59%;
    --primary-foreground: 48 96% 10%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222 84% 5%;
    --muted: 210 40% 90%;
    --muted-foreground: 216 40% 45%;
    --accent: 210 40% 90%;
    --accent-foreground: 222 84% 5%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 20% 87%;
    --input: 215 20% 87%;
    --ring: 222 84% 5%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 84% 5%;
    --foreground: 210 40% 98%;
    --card: 216 34% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 48 96% 59%;
    --primary-foreground: 48 96% 10%;
    --secondary: 216 34% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 216 34% 17%;
    --muted-foreground: 215 40% 65%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --ring: 48 96% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
